# Node
node_modules/
npm-debug.log
.DS_Store

# Environment
.env
.env.local

# Logs
logs/
*.log

# Build artifacts
dist/
out/



node_modules/
.env
.env.local
npm-debug.log
.DS_Store
logs/
*.log
dist/
out/
